@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Datos Del empleado</h2>
<h3>Nombre: @ViewBag.nombre</h3>
<h3>Apelliddo: @ViewBag.apellido</h3>
<h3>Direccion: @ViewBag.direccion</h3>
<h3>DNI: @ViewBag.dni</h3>
<h3>Edad de ingreso: @ViewBag.edadIngreso</h3>
<h3>Edad actual: @ViewBag.edad</h3>
<h3>Antiguedad: @ViewBag.antiguedad</h3>
<h3>Salario: @ViewBag.salario</h3>
